---
layout: default
---

<div class="posts">
  <h1 class="content-subhead">Recent Posts</h1>
  {% for post in site.posts %}
    <section class="post">
        <header class="post-header">

            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>
            </a>

            <p class="post-meta">
                posted on {{ post.date | date: "%b %-d, %Y" }}
                {% for tag in post.tags %}
                  <span class="post-category post-category-{{ tag }}">{{ tag }}</span>
                {% endfor %}
            </p>
        </header>

        <div class="post-description">
          {{ post.excerpt }}
        </div>
    </section>
  {% endfor %}
</div>
